/* common */

body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
  cursor: pointer;
}



h3{
  margin: 20px 0;
}

.s-minicard .row .row [class*="col-"],  /* togliere padding a colonne nestate */
footer .row .row [class*="col-"]{
  padding-left: 0;
  padding-right: 0;
}

/* header */

/* navbar */

header nav{
  width: 100%;
  line-height: 50px;
  height: 50px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header nav [alt="logo"]{
  height: 25px;
  vertical-align: middle;
}

header nav>.container>.row>[class*="col-"]:last-child{
  text-align: right;
}

header nav .inline_ul>li{
  display: inline-block;
  margin-left: 15px;
}

header nav a{
  text-decoration: none;
  color:#000;
}

header nav .button{
  display: inline;
  padding: 10px;
  color: blue;
  border: 1px solid blue;
  border-radius: 10px;
  transition: background 0.5s;
}

header nav .button:hover{
  background-color: blue;
  color: #fff;
}

header nav .hidden-lg .dropdown{
  display: inline-block;
}


/* dropdown della nav */

.dropdown-menu{
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 100;
  border: 1px solid lightgrey;
  background-color: #fff;
  line-height: normal;
  text-align: left;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu a:hover{
  color: blue;
}

nav .dropdown-menu{
  padding: 0 12%;
}

nav .dropdown-menu .row{
  border-bottom: 1px solid lightgrey;
}

.dropdown-menu ul{
  list-style: none;
  text-align: left;
}

.dropdown-left li, .dropdown-right li{
  padding: 10px;
}

.dropdown-left li:first-child{
  font-weight: bold;
  color: darkgrey;
  padding-left: 35px;
  text-transform: uppercase;
}

.dropdown-left li img{
  width: 45px;
}

.dropdown-left li .testo{
  padding-left: 10px;
  display: inline-block;
  width: calc(100% - 50px);
}

.dropdown-left li .testo h4{
  margin: 0 0 10px;
}

.dropdown-left,
.dropdown-right{
  padding-top: 30px;
  padding-bottom: 20px;
}

.dropdown-right{
  border-left: 1px solid lightgrey;
}

.dropdown-right img{
  width: 30px;
  vertical-align: middle;
}

.dropdown-right ul{
  width: calc(100% - 35px);
  display: inline-block;
  vertical-align: top;
}

.dropdown-right li:first-child{
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  color: darkgrey;
  text-transform: uppercase;
}


@media screen and (max-width: 992px){

  nav .dropdown-menu{
    padding: 0;
  }

}

/* jumbotron */

.jumbotron{
  padding: 100px 0 50px;
  background-image: url(../img/jumbo.svg);
  color: #fff;
}

.jumbotron h1{
  font-size: 40px;
  font-weight: 800;
  margin: 25px 0;
}

.jumbotron p{
  color: lightgrey;
  padding-bottom: 30px;
}

.form{
  color: #000;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.form h2{
  margin: 15px 0;
}

.form input{
  width: 100%;
  height: 3em;
  margin-top: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 10px;
}

.form .button{
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: lightblue;
  color: #fff;
}

#google-button{
  color: #000;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 5px lightgrey;
  border: 1px solid lightgrey;
  margin-bottom: 15px;
}

#google-button img{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0 , -50%);
  height: 30px;
}

.form>span:last-child{
  font-size: 12px;
}


/* sezione loghi */

#s-loghi{
  background-color: #f3f5f9;
  text-align: center;
  padding: 30px 0;
}

#logo-list{
  text-align: center;
}

.logo-wrapper {
  display: inline-block;
  width: 15%;
  vertical-align: middle;
  padding: 10px;
}

.logo-wrapper img{
  width: 100%;
}

  /* mediaqueries per disporre diversamente i loghi */

  @media screen and (max-width:768px){
    .logo-wrapper {
      width: 49%;
    }


  }



/* sezione minicard (che si ripropone due volte in pagina)*/

.s-minicard{
  text-align: center;
  padding: 30px 0;
}

.s-minicard h2{
  margin: 20px 0;
}

.s-minicard p{
  margin-bottom: 40px;
}

.s-minicard ul{
  list-style: none;
  text-align: left;
  padding-top: 15px;
}

.s-minicard li{
  padding: 15px;
  border-left: 1px solid lightgrey;
}

.s-minicard li:hover{
  border-left: 2px solid blue;
}

.s-minicard a{
  color: lightgrey;
}

.s-minicard li:hover a{
  font-weight: bold;
  color: grey;
}


.s-minicard .minicard{
  padding: 15px;
  text-align: left;
}


.s-minicard .minicard h4{
  margin: 12px 0;
}


.s-minicard .minicard img{
  width: 40px;
}

.s-minicard .minicard p{
  margin-bottom: 15px;
}

.minicard a:last-child{
 color: blue;
}

.minicard a:last-child:hover{
 color: darkblue;
}



/* sezione carousel (che si ripropone due volte in pagina)*/

.s-carousel{
  background-color: #f3f5f9;
  text-align: center;
  padding: 30px 0;
}

.s-carousel h2{
  margin: 20px 0;
}


.s-carousel img{
  width: 70%;
  vertical-align: middle;
  margin: 45px 15px 20px;
}

.s-carousel span [class*="fa-angle-"]{
  font-size: 40px;
  color: darkblue;
  opacity: 0.6;
}

.s-carousel span [class*="fa-angle-"]:hover{
  opacity: 1;
}

.carousel-under-text{
  display: block;
  font-size: 14px;
  color: darkblue;
  font-weight: bold;
  margin-bottom: 10px;
}

.s-carousel a{
  color: blue;
}

/* sezione tabelle */

#s-table{
  background: linear-gradient(0deg, rgb(0, 30, 154), rgb(0, 70, 197));
  color: #fff;
  text-align: center;
  padding: 30px 0 40px;
}

#s-table h2{
  margin-bottom: 30px;
}

#s-table table{
  border-collapse: collapse;
  width: 100%;
}

#s-table tr th:first-child, #s-table tr th:last-child{
  width: 25%;
}

#s-table table tr{
  border-bottom: 1px solid #fff;
}

#s-table tr:last-child{
  border-bottom: 0;
}

#s-table th{
  font-size: 12px;
  text-align: left;
  padding: 15px;
  background: transparent;
}


#s-table th:first-child{
  font-weight: bold;
}

#s-table th:nth-child(2){
  color: grey;
}

#s-table th:last-child a{
  color: lightblue;
}

#s-table th:last-child a:hover{
  color: darkblue;
}

/* sezione con bottone finale */

#get-started{
  background: linear-gradient(0deg, rgb(0, 30, 154), rgb(0, 70, 197));
  padding: 40px 0;
  text-align: center;
  color: #fff;
}

#get-started h2{
  font-size: 35px;
  font-weight: bold;
  margin: 25px 0 30px;
}


#get-started .button{
  display: inline-block;
  border-radius: 8px;
  padding: 15px 40px;
  background-color: #fff;
  color: blue;
}

/* footer */

footer{
  background-color: #031c4e;
  color: grey;
  padding: 30px 0 40px;
}

footer a{
  color: grey;
}

footer a:hover{
  color: #fff;
}

.copyright img{
  width: 50px;
  margin-bottom: 12px;
}

.copyright span{
  display: block;
  font-size: 14px;
}

.copyright span:last-of-type{
  color: darkgrey;
  margin-bottom: 15px;
}

.copyright .fab{
  margin-right: 10px;
}

footer ul{
  list-style: none;
}

footer li{
  padding: 7px;
}

footer li:first-child{
  color: #fff;
  margin-bottom: 10px;
}
