/* common */

body{
  font-family: sans-serif;
  text-align: center;
}

a{
  text-decoration: none;
  cursor: pointer;
}

ul{
  list-style: none;
  text-align: left;
}

li{
  padding: 10px;
}

h1{
  font-size: 40px;
  font-weight: 900;
  margin: 25px 0;
}

h2{
  font-size: 35px;
  font-weight: bolder;
  margin: 25px 0;
}

h3{
  margin: 20px 0;
}

h4{
  margin: 12px 0;
}

.button{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgrey;
  transition: background 0.5s;
}

.blue-link{
  color: blue;
}

.blue-link:hover{
  color: darkblue;
}

.section-padding-y{
  padding: 30px 0;
}


.bg-grey{
  background-color: #f3f5f9;
}

.bg-gradient{
  color: #fff;
  background: linear-gradient(0deg, rgb(0, 30, 154), rgb(0, 70, 197));
}


.s-minicard .row .row [class*="col-"],  /* togliere padding a colonne nestate */
footer .row .row [class*="col-"]{
  padding-left: 0;
  padding-right: 0;
}


/* header */

/* navbar */

header nav{
  width: 100%;
  line-height: 50px;
  height: 50px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header nav [alt="logo"]{
  height: 25px;
  vertical-align: middle;
}

header nav>.container>.row>[class*="col-"]:last-child{
  text-align: right;
}

header nav .inline_ul>li{
  display: inline-block;
  margin-left: 15px;
  padding: 0;
}

header nav a{
  text-decoration: none;
  color:#000;
}

header nav a:hover{
  color: blue;
}

header nav .button{
  display: inline;
  color: blue;
  border-color: blue;
}

header nav .button:hover{
  background-color: blue;
  color: #fff;
}

header nav .hidden-lg .dropdown{
  display: inline-block;
}


/* Navbar dropdown */

.dropdown-menu{
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 100;
  border: 1px solid lightgrey;
  background-color: #fff;
  line-height: normal;
  text-align: left;
  /* regole per rendere scrollabile il menu se esce dallo schermo in verticale sopratutto nel menu hamburger */
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu a:hover{
  color: blue;
}

nav .dropdown-menu{
  /* centra i menù dropdown poi con una media query tolgo questo padding su smartphone e tablet */
  padding: 0 12%;
}

nav .dropdown-menu .row{
  /* nel menù hamburger una linea divide le varie sezioni */
  border-bottom: 1px solid lightgrey;
}

.dropdown-left li:first-child,
.dropdown-right li:first-child{
  /* titolo delle liste di link */
  font-weight: bold;
  color: darkgrey;
  text-transform: uppercase;
}

.dropdown-left li img{
  width: 45px;
}

.dropdown-left li .testo{
  /* testo che si affianca all'immagine */
  padding-left: 10px;
  display: inline-block;
  width: calc(100% - 50px);
}

.dropdown-left,
.dropdown-right{
  padding-top: 30px;
  padding-bottom: 20px;
}

.dropdown-left{
  /* line verticale a separare le sezioni */
  border-right: 1px solid lightgrey;
}

/* liste della parte destra dei dropdown */
.dropdown-right img{
  width: 30px;
  vertical-align: middle;
}

.dropdown-right ul{
  width: calc(100% - 35px);
  display: inline-block;
  vertical-align: top;
}


@media screen and (max-width: 992px){

  nav .dropdown-menu{
    padding: 0;
  }

  .dropdown-right{
    border-left: 0;
  }

}

/* jumbotron */

.jumbotron{
  padding: 100px 0 50px;
  background-image: url(../img/jumbo.svg);
  color: #fff;
}


.jumbotron p{
  color: lightgrey;
  padding-bottom: 30px;
}

.form{
  color: #000;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.form input{
  width: 100%;
  height: 3em;
  margin-top: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 10px;
}

.form .button{
  margin-top: 20px;
  background-color: lightblue;
  border-color: lightblue;
  color: #fff;
}

#google-button{
  color: #000;
  position: relative;
  background-color: #fff;
  border-color: lightgrey;
  margin-bottom: 15px;
}

#google-button img{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0 , -50%);
  height: 30px;
}

.form>span:last-child{
  font-size: 12px;
}


/* sezione loghi */

#logo-list{
  text-align: center;
}

.logo-wrapper {
  display: inline-block;
  width: 15%;
  vertical-align: middle;
  padding: 10px;
}

.logo-wrapper img{
  width: 100%;
}

  /* mediaqueries per disporre diversamente i loghi */

  @media screen and (max-width:768px){
    .logo-wrapper {
      width: 49%;
    }


  }



/* sezione minicard (che si ripropone due volte in pagina)*/

.s-minicard p{
  margin-bottom: 40px;
}

.s-minicard ul{
  padding-top: 15px;
}

.s-minicard li{
  padding: 15px;
  border-left: 1px solid lightgrey;
}

.s-minicard li:hover{
  border-left: 2px solid blue;
}

.s-minicard ul a{
  color: lightgrey;
}

.s-minicard li:hover a{
  font-weight: bold;
  color: grey;
}

.s-minicard .minicard{
  padding: 15px;
  text-align: left;
}

.s-minicard .minicard img{
  width: 40px;
}

.s-minicard .minicard p{
  margin-bottom: 15px;
}

/* sezione carousel (che si ripropone due volte in pagina)*/

.s-carousel img{
  width: 70%;
  vertical-align: middle;
  margin: 45px 15px 20px;
}

.s-carousel span [class*="fa-angle-"]{
  font-size: 40px;
  color: darkblue;
  opacity: 0.6;
  cursor: pointer;
}

.s-carousel span [class*="fa-angle-"]:hover{
  opacity: 1;
}

.carousel-under-text{
  display: block;
  font-size: 14px;
  color: darkblue;
  font-weight: bold;
  margin-bottom: 10px;
}

/* sezione tabelle */

#s-table table{
  border-collapse: collapse;
  width: 100%;
}

#s-table tr th:first-child, #s-table tr th:last-child{
  width: 25%;
}

#s-table table tr{
  border-bottom: 1px solid #fff;
}

#s-table tr:last-child{
  border-bottom: 0;
}

#s-table th{
  font-size: 12px;
  text-align: left;
  padding: 15px;
  background: transparent;
}


#s-table th:first-child{
  font-weight: bold;
}

#s-table th:nth-child(2){
  color: grey;
}

#s-table th:last-child a{
  color: lightblue;
}

#s-table th:last-child a:hover{
  color: darkblue;
}

/* sezione con bottone finale */

#get-started .button{
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
  color: blue;
}

/* footer */

footer{
  background-color: #031c4e;
  color: grey;
}

footer a{
  color: grey;
}

footer a:hover{
  color: #fff;
}

.copyright img{
  width: 50px;
  margin-bottom: 12px;
}

.copyright span{
  display: block;
  font-size: 14px;
}

.copyright span:last-of-type{
  color: darkgrey;
  margin-bottom: 15px;
}

.copyright .fab{
  margin-right: 10px;
}


footer li{
  padding: 7px;
}

footer li:first-child{
  color: #fff;
  margin-bottom: 10px;
}
